@media screen and (min-width: 768px) {
  .App {
    max-width: 1440px;
    width: 80%;
    margin: auto;
    padding: 64px 8% 48px;
    display: flex;
    flex-direction: column;
    row-gap: 48px;
    align-items: center;
  }
  .appMain {
    display: flex;
    flex-direction: column;
    row-gap: 56px;
    align-items: center;
    padding: 0 3%;
    width: 100%;
  }
  .appFooter {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .App {
    min-width: 300px;
    width: 80%;
    margin: auto;
    padding: 64px 4.5% 0;
    display: flex;
    flex-direction: column;
    row-gap: 32px;
    align-items: center;
  }
  .appMain {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
    align-items: center;
    width: 100%;
  }
  .appFooter {
    width: 100%;
  }
}
