@media screen and (min-width: 768px) {
    .link {
        width: 100%;
        text-align: center;
        background-color: #EAECF0;
        border-radius: 8px;
        height: 76px;
        cursor: pointer;
    }
    a {
        font-weight: 500;
        font-size: 18px;
        line-height: 76px;
        color: #101828;
        text-decoration: none;
    }
}
@media screen and (max-width: 768px) {
    .link {
        width: 100%;
        text-align: center;
        background-color: #EAECF0;
        border-radius: 8px;
        height: 68px;
        cursor: pointer;
    }
    a {
        font-weight: 500;
        font-size: 14px;
        line-height: 68px;
        color: #101828;
        text-decoration: none;
    }  
}
