@media screen and (min-width: 768px) {
    #shareMobile {
        display: none;
    }
    .profile {
        position: relative;
        width: 100%;
    }
    #shareWeb {
        position: absolute;
        right: 23%;
        top: -20px;
    }
    .profileOriginal {
        display: flex;
        flex-direction: column;
        row-gap: 24px;
        align-items: center;
    }
    #profile__img {
        width: 10%;
        border-radius: 50%;
    }
    #twitter {
        margin: 0;
        font-weight: 700;
        font-size: 20px;
        line-height: 30px;
        color: #101828;
    }
    #slack {
        display: none;
    }
}
@media screen and (max-width: 768px) {
    #shareWeb {
        display: none;
    }
    .profile {
        position: relative;
        width: 100%;
    }
    #shareMobile {
        position: absolute;
        right: 5%;
        top: -20px;
    }
    .profileOriginal {
        display: flex;
        flex-direction: column;
        row-gap: 24px;
        align-items: center;
    }
    #profile__img {
        width: 10%;
        border-radius: 50%;
    }
    #twitter {
        margin: 0;
        font-weight: 700;
        font-size: 18px;
        line-height: 28px;
        color: #101828;
    }
    #slack {
        display: none;
    } 
}
